#contact_modal {
    display: none;
    height: 400px;
}
    





.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 40px;
    gap: 50px;
    width: 100%;
}

#logo{
    margin-left: 40px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-left: 0px;
    margin-top: 10px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto;
}

.modal {

    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    
  flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

    position: fixed;
    left: 50%;
    top: 0%;
    margin-left: -25%;
    


}


.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    margin-right: 0;
  
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;

    }


.modalName{
    
    font-size: 64px;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

.error{
font-size: 25px;
color: #901C1C;

}

form input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.messageLines{
    overflow-wrap: break-word;
    height: 100px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.h2photographers {
    color: #D3573C;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 83.33px;
    
}

.h2HomePage{
    margin-top: 20px;
}

.photographer_section{
    margin-bottom: 100px;
}


.line2p{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    text-align: left;
}




.line3p{
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;

}

.portfolio, video {
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
    margin-left: 0px;
}

#photographerGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    margin-top: 50px;
  
}
#contentRight{
    margin-left: auto;
    margin-right: 200px;
}

#contentLeft{
    margin-left: 40px;
  
}


.stylesgallery{
    max-width: 350px;
}

.fotoImg {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.captionAndLikes{
    display: flex;    
    justify-content: space-between;
    color: #901C1C;
    font-size: 24px;
    line-height: 31.25px;
    margin-top: 10px;
}
      

.figCaption{
    font-weight: 400;
       
}

.styleLikesHeart{
    font-weight: 500;  
}

.styleCounter{
    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 5px;
    background: #DB8876;
    width: 320px;
    height: 60px;
    flex-shrink: 0; 
    display: flex;    
    justify-content: space-between;

    }

.stylePriceDay{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    width: 170px;
    }

   .totalCounter{
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

.pointerHover:hover{
    cursor: pointer;  
    }


/* Light Box Modal */

#lightboxModal{
    display: none;
    }

.mainContainerLB{
    width: 1253px;
    height: 984px;
    background-color: rgb(255, 255, 255);
    border: solid 2px #95FFF9;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px ;  
   }

 
.lightboxModal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;   
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    }

.ContentLightBox{
    display: flex;
    }

#contentLB{
    width: 100%;
    max-width: 1050px;
    max-height: 900px;
    }

#picLightBox {
    width: 100%;
    max-width: 1050px;
    max-height: 900px;
    padding-bottom: 10px;
    object-fit: cover;
    }

.iconLB{
    color: #901C1C;
    font-size: 96px;
    align-items: center;
    cursor: pointer;
    display: flex !important;
   

    
    }

.fa-xmark{
    color: #901C1C;
    font-size: 72px;
    cursor: pointer;
    width: 72px;
    height: 72px;
    position: absolute;
    top: 5;
    right: 0;

    }
    
.fa-chevron-left{
    padding-left: 15px;
    padding-right: 20px;
    display: flex; 
     

    }

.fa-chevron-right{
    display: flex;
    padding-right: 15px;
    padding-left: 20px;
    }



#picCaption{   
    margin-left: 10px;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;    
    }



    /* Systeme de Tri */

    .triMenu {
        background-color: #901C1C;
        color: #FAFAFA;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .menuIntro {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        text-align: left;
        padding-left: 50px;
        
    }

 

    